<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
    <title>checkerboard</title>
</head>
<body>
    <h1 style="color: {{color_two}};background-color: {{color_one}};">***checkerboard***</h1>
    <table>
        {% for i in range(rows) %}
            <tr>
                {% for x in range(col) %}
                    {% if (x + i) % 2 == 0 %}
                        <td style="background-color: {{color_one}};"></td>
                        {% else %}
                        <td style="background-color: {{color_two}};"></td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</body>
</html>